<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
    <h1 class="header-center">Welcome to your very own Password Locker</h1>
    <div class="input-form">
        <p>Select your given option</p>
        <p><a href="http://127.0.0.1:5000/find_pass" target="_blank">1. find pass</a></p>
        <p><a href="http://127.0.0.1:5000/save_pass" target="_blank">2. add pass</p>
        <p><a href="http://127.0.0.1:5000/update_pass" target="_blank">3. update pass</p>
        <p><a href="http://127.0.0.1:5000/delete_pass" target="_blank">3. delete pass</p>
        <p><a href="http://127.0.0.1:5000/">4. Logout</a></p>

    </div>
</body>
</html>
